name: Build and Release

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      stable:
        type: boolean
        description: Stable release ?
        default: false
      version-bump:
        type: choice
        description: Version level
        required: false
        options: [major, minor, patch]
        default: patch
      reset-cache:
        type: boolean
        default: false
        description: Delete cache ?
      skip-build:
        type: boolean
        default: false
        description: Skip APK build ?
      is-draft:
        type: boolean
        description: Draft release ?
        default: false
      description:
        required: false
        description: Description

env:
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  # ------- VALIDATION -------
  check-description:
    runs-on: ubuntu-latest
    steps:
      - name: Exit
        if: ${{ inputs.stable && !inputs.description }}
        run: echo "❌ Missing description for a stable release" && exit 1

  check-version-bump:
    runs-on: ubuntu-latest
    steps:
      - name: Exit
        if: ${{ inputs.stable && !inputs.version-bump }}
        run: echo "❌ Missing version bump for a stable release" && exit 1

  # ------- BUILD PROCESS -------
  build:
    runs-on: ubuntu-latest
    needs: [check-description, check-version-bump]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 20.x
          cache: npm

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Get latest tag
        id: get-latest-tag
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: ClementR22/MK8DSB
          excludes: "prerelease"

      - name: Calculate next stable version
        id: version_build
        if: ${{ inputs.stable }}
        uses: reecetech/version-increment@2024.10.1
        with:
          scheme: semver
          increment: ${{ inputs.version-bump }}
          tag_prefix: "v"

      - name: Get latest commit hash
        id: get-latest-commit
        run: echo "value=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: Generate Nightly version
        id: nightly-version
        if: ${{ !inputs.stable }}
        run: |
          RAW="${{steps.get-latest-tag.outputs.release}}-${{steps.get-latest-commit.outputs.value}}"
          # Remplacer tout caractère non valide par "-"
          VERSION=$(echo "$RAW" | sed 's/[^A-Za-z0-9.-]/-/g')
          echo "$VERSION" > nightly-version.txt
          echo "value=$VERSION" >> "$GITHUB_OUTPUT"

      # ---------- UPDATE APP CONFIG ----------
      - name: Update app.config.ts
        run: |
          VERSION=$([[ ${{inputs.stable}} == 'true' ]] && echo "${{ steps.version_build.outputs.v-version }}" || echo "${{ steps.nightly-version.outputs.value }}")
          sed -i app.config.ts -e "s|{{VERSION}}|$VERSION|g"

      # ---------- CLEAN & BUILD ----------
      - name: Clean Android build
        if: ${{ inputs.reset-cache }}
        run: |
          cd android && ./gradlew clean && cd ..
          rm -rf android/app/build

      - name: Build APK (local)
        if: ${{ !inputs.skip-build }}
        run: eas build --non-interactive --platform android --profile preview --local

      - name: Store build name
        id: build-name
        run: |
          VERSION=$([[ ${{inputs.stable}} == 'true' ]] && echo "${{ steps.version_build.outputs.v-version }}" || echo "${{ steps.nightly-version.outputs.value }}")
          echo "value=mk8dsb_${VERSION}.apk" >> "$GITHUB_OUTPUT"

      - name: Rename build
        run: mv build-*.apk ${{ steps.build-name.outputs.value }}

      - name: Generate SHA256 checksum
        run: sha256sum ${{ steps.build-name.outputs.value }} > sha256sum.txt && cat sha256sum.txt

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: |
            ./${{ steps.build-name.outputs.value }}
            ./sha256sum.txt
            ./nightly-version.txt

  # ------- NIGHTLY RELEASE -------
  nightly:
    if: ${{ !inputs.stable }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Clear cache manually
        if: ${{ inputs.reset-cache }}
        run: rm -rf ~/.npm ~/.gradle

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: artifacts

      - name: Upload Nightly Release
        uses: ncipollo/release-action@v1
        with:
          tag: nightly-${{ steps.nightly-version.outputs.value }}
          name: "Nightly release ${{ steps.nightly-version.outputs.value }}"
          draft: ${{ inputs.is-draft }}
          prerelease: true
          body: |
            ⚠️ Unstable release — settings or data may be wiped.
            ${{ inputs.description }}
          artifacts: "*.apk,sha256sum.txt"

  # ------- STABLE RELEASE -------
  release:
    if: ${{ inputs.stable }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Increment version & commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          npm version ${{ inputs.version-bump }} --no-git-tag-version
          git add package.json package-lock.json
          git commit -m "chore(release): bump version to ${{ steps.version_build.outputs.v-version }}"
          git push

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: artifacts

      - name: Upload Stable Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.version_build.outputs.v-version }}
          name: MK8DSB ${{ steps.version_build.outputs.v-version }}
          body: ${{ inputs.description }}
          draft: ${{ inputs.is-draft }}
          prerelease: false
          artifacts: "*.apk,sha256sum.txt"
